dist: bionic
sudo: required
language: java
jobs:
  fast_finish: true
  include:
  - build: ppc64le
    os: linux
    arch: ppc64le
    jdk: openjdk11
    script: mvn install -DskipTests -Dmaven.javadoc.skip=true
    addons:
      apt:
        packages:
        - maven
  - build: s390x
    os: linux
    arch: s390x
    jdk: openjdk11
    script: mvn install -DskipITs -Dmaven.javadoc.skip=true
    addons:
      apt:
        packages:
        - maven
services:
- docker
before_install:
- gem install asciidoctor
script:
- "./.travis/build.sh"
env:
  global:
  - PULL_REQUEST=${TRAVIS_PULL_REQUEST}
  - BRANCH=${TRAVIS_BRANCH:-main}
  - TAG=${TRAVIS_TAG:-latest}
  - DOCKER_REGISTRY=quay.io
  - MVN_ARGS="-B"
  - TESTCONTAINERS_RYUK_DISABLED=TRUE
  - TESTCONTAINERS_CHECKS_DISABLE=TRUE
