name: Unit & Integration tests of Actions

on:
  pull_request:
    paths:
      - '.github/**'
  push:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker://rhysd/actionlint:1.7.10
        with:
          args: -color
